<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_addline1'>Add Product Details: </label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								Product Name: <input class='form-control' id='prodname' placeholder='Product Name'
									ng-model="prodCtrl.product.name" type='text'>
							</div>
						</div>
						<div class='form-group internal'>
							<div class='col-md-11'>
								Product Description: <input class='form-control' id='Description'
									placeholder='Description' ng-model="prodCtrl.product.description" type='text'>
							</div>
						</div>
						<div class='form-group internal'>
							<div class='col-md-11'>
								Price: <input class='form-control' id='price'
									placeholder='Price' ng-model="prodCtrl.product.price" type='text'>
							</div>
						</div>
							<div class='form-group internal'>
							<div class='col-md-11'>
								Weight: <input class='form-control' id='weight'
									placeholder='Weight' ng-model="prodCtrl.product.weight" type='text'>
							</div>
						</div>
							<div class='form-group internal'>
							<div class='col-md-11'>
								Type: <input class='form-control' id='type'
									placeholder='Type:' ng-model="prodCtrl.product.type" type='text'>
							</div>
						</div>
				<br><br>
					<div class='col-md-offset-4 col-md-3'>
						<span><button class='btn btn-primary' ng-click="prodCtrl.addprod()"
							type='submit'>Add Product</button></span> 
							<br>
							<a  class="btn btn-primary" ng-click="back()">Back</a>
					</div>
					
						</div>							
					</div>
					
					
			