<div class="page-header" ng-init="init()">
	<div ng-show="{{error}}">
		<span style="padding-right:500px">{{message}}</span>
		
	</div>
	
	<div class="table-responsive">
		<table class="table table-hover">
			<tr class="table-heading">
				<th>Product ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Price in dollars</th>
				
			</tr>
			<tr ng-repeat="product in popproducts">
				<td>{{product.productId}}</td>
				<td>{{product.productName}}</td>
				 <td>{{product.description}}</td>
				<td>{{product.price}}</td>				
				
			</tr>
		</table>
	</div>
	<a  class="btn btn-primary" ng-click="back()">Back</a>
	</div>