<div class="page-header" ng-init="init()">
	<div ng-show="{{error}}">
		<span style="padding-right:500px">{{message}}</span>
		
	</div>
		<button type="submit" ng-click="reg()" class="btn btn-default">Register a Seller</button>
	<br><br>

	<div class="table-responsive">
		<table class="table table-hover">
			<tr class="table-heading">
				<th>Seller ID</th>
				<th>Name</th>
				<th>Merchandise Name</th>
				<th>Status</th>
				
			</tr>
			<tr ng-repeat="seller in sellers">
				<td>{{seller.sellerId}}</td>
				<td>{{seller.username}}</td>
				 <td>{{seller.merchandiseName}}</td>
				<td>{{seller.status}}</td>				
				<td><span><a ng-click="enable({rowId:seller})"	class="btn btn-primary"> Enable</a></span>
					<span><a ng-click="disable({rowId:seller})" class="btn btn-primary"> Disable</a></span></td>
			</tr>
		</table>
	</div>
</div>