<div class="page-header" ng-init="init()">
	<div ng-show="{{error}}">
		<span style="padding-right:500px">{{message}}</span>
		
	</div>
	<div ng-show="{{userSession.id}}">
	<span style="padding-left:500px"><a ng-click="viewCart()"
	class="btn btn-primary"> View Cart</a>
	</span><br><br><span style="padding-left:500px"><a ng-click="ViewOrderHistory()"class="btn btn-primary"> View Order History</a>
	</span><br><br><span style="padding-left:500px"><a ng-click="displayPopularProducts()"class="btn btn-primary"> Filter Products by Popularity</a>
	</span>
	</div>
	<br><br>
		
	<div class="table-responsive">
		<table class="table table-hover">
			<tr class="table-heading">
				<th>Product ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Price in dollars</th>
				<th>Quantity <input type="text" id="qty" style="width:50px" ng-model="dashCtrl.variables.quantity" required/></th>
				<!--  <th>Operation</th>-->
			</tr>
			<tr ng-repeat="product in products">
				<td>{{product.productId}}</td>
				<td>{{product.productName}}</td>
				 <td>{{product.description}}</td>
				<td>{{product.price}}</td>				
				<td><a ng-click="addToCart({rowId:product})"
					class="btn btn-primary"> Add to Cart</a></td>
			</tr>
		</table>
	</div>
</div>