<div class="page-header" ng-init="init()">
	<div ng-show="{{error}}">
		<span style="padding-right:500px">{{message}}</span>
		
	</div>

	<br><br>
		
	<div class="table-responsive">
		<table class="table table-hover">
			<tr class="table-heading">
				<th>Order ID</th>
				<th>Product Name</th>
				<th>Quantity</th>
				<th>Status</th>
				
			</tr>
			<tr ng-repeat="order in orders">
				<td>{{order.orderid}}</td>
				<td>{{order.prodname}}</td>
				<td>{{order.qty}}</td>
				<td>{{order.status}}</td>					
				
			</tr>
		</table>
		
	</div>
	<a  class="btn btn-primary" ng-click="back()">Back</a>
	
</div>