<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">

<div class='container'>
	<div class='panel panel-primary dialog-panel'>
		<div class='panel-heading'>
			<h5>Seller Registration</h5>
		</div>
		<div class='panel-body'>
			<form class='form-horizontal' role='form'>
				<div class="form-group">

					<div ng-show="sellregCtrl.error" align="center"
						class="col-sm-offset-2 col-sm-2 alert alert-danger">{{sellregCtrl.message}}</div>

				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_title'>Name</label>
					<div class='col-md-8'>
						<div class='col-md-2'>
							<div class='form-group internal'>
								<select class='form-control' id='id_title'
									ng-model="sellregCtrl.registration.title">
									<option>Mr</option>
									<option>Ms</option>
									<option>Mrs</option>
									<option>Miss</option>
									<option>Dr</option>
								</select>
							</div>
						</div>
						<div class='col-md-3 indent-small'>
							<div class='form-group internal'>
								<input class='form-control' id='id_first_name'
									ng-model="sellregCtrl.registration.firstName"
									placeholder='First Name' type='text'>
							</div>
						</div>
						<div class='col-md-3 indent-small'>
							<div class='form-group internal'>
								<input class='form-control' id='id_last_name'
									ng-model="sellregCtrl.registration.lastName"
									placeholder='Last Name' type='text'>
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_email'>Username</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='id_username'
									placeholder='Username' ng-model="sellregCtrl.registration.username"
									type='text'>
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_email'>Password</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='id_password'
									placeholder='Password' ng-model="sellregCtrl.registration.password"
									type='password'>
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_email'>Contact</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='id_email' placeholder='E-mail'
									ng-model="sellregCtrl.registration.email" type='text'>
							</div>
						</div>
						<div class='form-group internal'>
							<div class='col-md-11'>
								<input class='form-control' id='id_phone'
									ng-model="sellregCtrl.registration.phone" placeholder='Phone: (xxx) - xxx xxxx' type='text'>
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_email'>Date of Birth</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<p class="input-group">
									<input type="text" class="form-control"
										uib-datepicker-popup="{{sellregCtrl.dobOptions.format}}"
										ng-model="sellregCtrl.registration.dateOfBirth"
										is-open="sellregCtrl.dobOptions.popup"
										datepicker-options="sellregCtrl.dateOptions" ng-required="true"
										close-text="Close"
										alt-input-formats="sellregCtrl.dobOptions.altInputFormats" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="sellregCtrl.open()">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>

								</p>
							</div>
						</div>
					</div>
				</div>
				
				
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='merchname'>Merchandise</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								Merchandise Name: <input class='form-control' id='merchname' placeholder='Merchandise Name'
									ng-model="sellregCtrl.registration.merchname" type='text'>
							</div>
						</div>
						
						</div>
								
						
					</div>
				
				
					<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_addline1'> Shipping Address:</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='id_addline1' placeholder='Address Line 1'
									ng-model="sellregCtrl.registration.addline1" type='text'>
							</div>
						</div>
						<div class='form-group internal'>
							<div class='col-md-11'>
								<input class='form-control' id='id_addline2'
									placeholder='Address Line 2' ng-model="sellregCtrl.registration.addline2" type='text'>
							</div>
						</div>
						<div class='form-group internal'>
							<div class='col-md-11'>
								<input class='form-control' id='id_city'
									placeholder='City' ng-model="sellregCtrl.registration.city" type='text'>
							</div>
						</div>
								<div class='form-group internal'>
							<div class='col-md-11'>
								<input class='form-control' id='id_state'
									placeholder='State' ng-model="sellregCtrl.registration.state" type='text'>
							</div>
						</div>
								<div class='form-group internal'>
							<div class='col-md-11'>
								<input class='form-control' id='id_zip'
									placeholder='Zip' ng-model="sellregCtrl.registration.zip" type='text'>
							</div>
						</div>
						
					</div>
				</div>

				<div class='form-group'>
					<div class='col-md-offset-4 col-md-3'>
						<button class='btn btn-primary' ng-click="sellregCtrl.register()"
							type='submit'>Register</button>
					</div>
					<div class='col-md-3'>
						<button class='btn btn-danger' ng-click="sellregCtrl.cancel()"
							style='float: right' type='submit'>Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>