<div class="page-header" ng-init="init()">
	<div ng-show="{{error}}">
		<span style="padding-right:500px">{{message}}</span>
		
	</div>
	
	<div><a  class="btn btn-primary" id="addProd" ng-click="oiCtrl.add()" >Add Products</a></div>
	
	<br><br>
				
	<div class="table-responsive">
		<table class="table table-hover">
			<tr class="table-heading">
				<th>OrderItem Id</th>
				<th>Product Name </th>
				<th>Quantity</th>
				<th>Order Id</th>
				
				
			</tr>
			<tr ng-repeat="oi in ois">
				<td>{{oi.orderitemid}}</td>
				<td>{{oi.prodName}}</td>
				 <td>{{oi.quantity}}</td>
				<td>{{oi.orderid}}</td>	
							
				<td><a ng-click="markShipped({rowId:oi})"
					class="btn btn-primary"> Mark as Shipped</a></td>
			</tr>
		</table>
	</div>
	
	
</div>