<div class="page-header" ng-init="init()">
<div class="table-responsive">
		<table class="table table-hover">
			<tr class="table-heading">
				<th>OrderItem ID</th>				
				<th>Quantity</th> 
			</tr>
			<tr ng-repeat="orderitem in orderitems">
				<td><div>{{orderitem.oiId}}</div></td>
				<td><div>{{orderitem.quantity}}</div></td>						
				
			</tr>
		</table>
	</div>
	<div><h3>Payment Details: </h3></div>
	
	<div><span>Card Type:    </span><span>{{carddetails.cardtype}}</span></div>
	<div><span>Card Number:    </span><span>{{carddetails.cardNum}}</span></div>
	<div><span>Expiry Date:    </span><span>{{carddetails.expirydate}}</span></div>
	<div><span>Cvv:          </span><span>{{carddetails.cvv}}</span></div>
	<input type="text" id="cardtype" value="{{carddetails.cardtype}}" ng-model="cartCtrl.card.cardtype" disabled/>
	<input type="text" id="cardnum" value="{{carddetails.cardnum}}" ng-model="cartCtrl.card.cardnum" disabled/>
	<input type="text" id="expdate" value="{{carddetails.expirydate}}" ng-model="cartCtrl.card.expirydate" disabled/>
	<input type="text" id="cvv" value="{{carddetails.cvv}}" ng-model="cartCtrl.card.cvv" disabled/>
	
	<br><br>
	
	<a  class="btn btn-primary" id="edit" ng-click="edit()">Edit</a>
	<a  class="btn btn-primary" id="update" ng-click="update()">Update</a>
	
	<a  class="btn btn-primary" ng-click="back()">Back</a>
	<a ng-click="checkout()"
	class="btn btn-primary">CheckOut</a>
</div>

